<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml" lang="#LANG">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE; chrome=1" />
<meta http-equiv="content-type" content="text/html;charset=utf-#CHARSET" /> 
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <title>[(#NOM_SITE_SPIP|textebrut)][ - (#SLOGAN_SITE_SPIP|textebrut)]</title>
	[<meta name="description" content="(#DESCRIPTIF_SITE_SPIP|couper{150}|textebrut)" />]
	<link rel="canonical" href="#URL_SITE_SPIP" />
	<link rel="alternate" type="application/rss+xml" title="<:syndiquer_site:>" href="http://feeds.feedburner.com/ThePatrioticVanguard" />

    [<meta property="og:title" content="(#NOM_SITE_SPIP|textebrut)"/>]
    <meta property="og:url" content="#URL_SITE_SPIP" />
    [<meta property="og:site_name" content="(#NOM_SITE_SPIP|textebrut)" />]
    <meta property="og:type" content="website" />
    [<meta property="og:description" content="(#DESCRIPTIF_SITE_SPIP|couper{150}|textebrut)" />]
    <meta property="og:country-name" content="SIERRA LEONE" />
   
    <META NAME="ROBOTS" CONTENT="NOYDIR,NOODP">
	<INCLURE{fond=inclure/_global_metas}>

</head>
<body class="homepage" id="homepage">
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<header id="main-header" class="hidden-sm hidden-xs visible-md-block visible-lg-block">

<section class="top-links-wrap">
	<div class="container">
	<div class="row">
			<ul class="top-links col-md-4"><li>The Patriotic Vanguard, Sierra Leone News Portal</li></ul> 
			<ul class="top-links col-md-4"><li class="current-date"></li></ul> 		        
			<ul class="col-md-4 top-links  navbar-social">			
			    <li><a href="#URL_ARTICLE{51}"><span class="">Who We Are</span></a></li>
                <li><a href="#URL_ARTICLE{69}"><span class="">Contact US</span></a></li>
            </ul>                          
	</div>
	</div>  
</section>	

       
	<div class="container top-header-content">
	<div class="row">         
    <div class="col-md-3 hidden-print">
    
<ul style="position:relative; display:inline-block; " class="top-promo-right">    
<li style="display:inline-block !important;width:70px; ">
<a href="https://twitter.com/patrioticvangua" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @patrioticvangua</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</li>
<li style="display:inline-block !important; width:80px;">
<div class="fb-like" data-href="https://www.facebook.com/patrioticvanguard" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>
</li>
</ul>




	</div>


    <div class="col-md-6 site-logo-container siteLogoWrapper">
	
	<a href="/" class="siteLogoWrapper">

		<img src="/assets/css/img/thelogo_green_vert.png" />
	</a>
	
	
	</div>
	<div class="col-md-3">
	<div class="top-promo-right top-right-ad"> 
	

	</div>
	</div>



	</div>
	</div>

	
	
	
	
	<nav class="navbar menu" role="navigation">
	  <div class="container">
		    <div class="navbar-collapse collapse">
		      <ul class="nav navbar-nav">
		        <li><a id="home" href="/"><i class="fa">&#xf015;</i></a></li>
				<BOUCLE_menu(RUBRIQUES){racine}{id_rubrique==^(2|3|4|5|8|6|13|21|22|13)$}{0,10}>
				<li><a href="#URL_RUBRIQUE"[ class="(#EXPOSE)"]> #TITRE </a> </li>
				</BOUCLE_menu>
		      </ul>
		      
		      <ul class="nav navbar-nav pull-right">
		        <li><a id="home" href="https://www.twitter.com/patrioticvangua"  target="_blank"><i class="fa">&#xf099;</i></a></li>
		        <li><a id="home" href="https://www.facebook.com/patrioticvanguard"  target="_blank"><i class="fa">&#xf09a;</i></a></li>
				<li><a  href="#" data-target="#lightModal" data-toggle="modal" data-target="#lightModal" data-whatever="@search"> <i class="fa">&#xf002;</i> </a> </li>
		      </ul>
		      
		    </div><!-- /.navbar-collapse -->
	
	  </div><!-- /.container -->
	</nav>

</header>

<header id="main-header-mobile" class="hidden-md hidden-lg visible-sm-block visible-xs-block">

    <div class="navbar-header-mobile">

	    <a id="simple-menu" href="#sidr"><i class="fa">&#xf0c9;</i></a>
	    
	    <a class="site-logo-mobile" href="/"><img src="/squelettes/images/thelogo.png" alt=""></a>
		
		<a class="simple-menu-search" data-toggle="modal" href="#" data-target="#lightModal"><i class="fa">&#xf002;</i></a>
	  
    </div>

</header>

<section id="sidr" style="display:none;">

   
   <ul >  	        <li><a id="home" href="/"> Home</a></li>

				<BOUCLE_menuside(RUBRIQUES){racine}{id_rubrique==^(2|3|4|5|8|6|13|21|22|13)$}{0,10}>
				<li><a href="#URL_RUBRIQUE"[ class="(#EXPOSE)"]> #TITRE </a> </li>
				</BOUCLE_menuside>
	</ul>

  
</section>

<section class="modal modal-search topsearchform" id="lightModal" tabindex="-1" role="dialog" aria-labelledby="lightModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true"><i class="fa">&#xf00d;</i></span><span class="sr-only">Close</span></button>
      </div>
      <div class="modal-body">
   
   

		<form action="http://www.thepatrioticvanguard.com/search.php" id="cse-search-box">
		
			<div class="newsletter-wrapper">

			<div style="display:none">
    <input type="hidden" name="cx" value="partner-pub-9066385141679558:9703181090" />
    <input type="hidden" name="cof" value="FORID:10" />
    <input type="hidden" name="ie" value="UTF-8" />
			</div>

			
			<input value="Search Website" name="q" class="required form-control unhovered" size="55" id="appendedInputButton" placeholder="Search Website">
			<button type="submit" name="sa" value="Search" class="btn btn-yellow">
			<i class="fa">&#xf002;</i>
			</button>
			</div>

		</form>
<script type="text/javascript" src="http://www.google.com/coop/cse/brand?form=cse-search-box&amp;lang=en"></script>

      </div>
    </div>
  </div>
</section>












{% block content %}{% endblock %}








<footer id="main-footer"> 
	<div class="container"> 
	<div class="row">
	
	<div id="partners" class="col-md-3"> 
	
		<ul class="partner-logos"> 
		<li><img src="/squelettes/images/thelogo_black_bg.png" /></li> 
		</ul>
		
		<div class="footer-social">
		<a class="footer-social-link footer-social-link-facebook" href="https://www.facebook.com/patrioticvanguard" target="_blank"><i class="fa fa-lg">&#xf09a;</i></a>
		<a class="footer-social-link footer-social-link-twitter" href="https://twitter.com/patrioticvangua" target="_blank"><i class="fa fa-lg">&#xf099;</i></a>
		<a href="http://feeds.feedburner.com/ThePatrioticVanguard"><i class="fa fa-lg">&#xf09e;</i></a>
		</div> 
	
	</div>	    
	<div class="col-md-3 col-xs-12">
	
	<h2 class="module">News</h2> 
	<ul class="links"> 
	<li><a href="#URL_RUBRIQUE{2}">Salone News</a></li> 
	<li><a href="#URL_RUBRIQUE{3}">Africa News</a></li> 
	<li><a href="#URL_RUBRIQUE{4}">Africa Canada</a></li>
	<li><a href="#URL_RUBRIQUE{21}">World News</a></li>  
	<li><a href="#URL_RUBRIQUE{5}">Sports</a></li> 
	</ul> 
	
	</div> 
	<div class="col-md-3 col-xs-12"> 
	
	<h2 class="module">Views</h2> 
	<ul class="links"> 
	<li><a href="#URL_RUBRIQUE{16}">Editorial</a></li> 
	<li><a href="#URL_RUBRIQUE{6}">Opinion</a></li> 
	<li><a href="#URL_RUBRIQUE{8}">Analysis</a></li> 
	<li><a href="#URL_RUBRIQUE{9}">Literary zone</a></li> 
	<li><a href="#URL_RUBRIQUE{13}">Media</a></li>
	<li><a href="#URL_RUBRIQUE{7}">Letter to the editor</a></li> 
	</ul> 
	
	</div> 
	<div class="col-md-3 col-xs-12">
	
	<h2 class="module">About</h2> 
	<ul class="links"> 
	<li><a href="#URL_ARTICLE{51}">About Us</a></li> 
	<li><a href="#URL_ARTICLE{69}">Contact Us</a></li> 
	</ul> 
	
	</div> 
	
	<div class="footer-legal row">
	<p class="footer-legal-text col-md-6 col-xs-12 ">The Patriotic Vanguard © 2009 All rights reserved. <br /> Designed <i>by</i> <a href="http://www.excellencelab.com" title="Excellencelab">Richard Songo</a></p>
	<ul class="footer-legal-links col-md-6 col-xs-12">
	<li class="footer-legal-link"><a href="#URL_ARTICLE{8069}">Privacy Policy</a></li>
	<li class="footer-legal-link"><a href="#URL_ARTICLE{8175}">Terms of Use</a></li>
	<li class="footer-legal-link"><a href="#URL_ARTICLE{8070}">Community Rules</a></li>
	</ul>
	</div>
	
	</div>
	</div>
</footer> 
