<BOUCLE_principale(AUTEURS) {id_auteur}>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml" lang="#LANG">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE; chrome=1" />
<meta http-equiv="content-type" content="text/html;charset=utf-#CHARSET" /> 
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <title>[(#NOM|couper{80}|textebrut) - ][(#NOM_SITE_SPIP|textebrut)]</title>
    
    <INCLURE{fond=inclure/_global_metas}>
    

	[<link rel="canonical" href="(#URL_AUTEUR|url_absolue)" />]    
    <link rel="alternate" type="application/rss+xml" title="[(#NOM|textebrut)]" href="[(#URL_PAGE{backend}|parametre_url{id_auteur,#ID_AUTEUR})]" />


<meta property="og:title" content="[(#NOM|textebrut)]" />
<meta property="og:type" content="profile" />
[<meta property="og:url" content="(#URL_AUTEUR|url_absolue)" />]
<meta property="og:image" content="" />
<meta property="og:site_name" content="[(#NOM_SITE_SPIP|textebrut)]" />
[<meta property="og:description" content="(#INTRODUCTION{150}|textebrut)" /> ]

	


    
<!--[if lte IE 8]>
<script src="/assets/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="/assets/respond/1.4.2/respond.min.js"></script>
<![endif]-->

</head>
<body class="page-author">

<INCLURE{fond=inclure/_global_header} />
<INCLURE{fond=inclure/adslot7281} />

<div class="container">  
<div class="row"> 
<div class="col-md-12">


<header   class="row author">
<div class="col-md-2 col-lg-2 col-sm-12 col-xs-12">

<div class="pull-left">
[(#LOGO_AUTEUR|image_reduire{175,0}|image_recadre{175,175,center}|inserer_attribut{class,img-circle}|sinon{<img class="img-circle" src="/assets/css/img/profile-default.png" width="175">})]
</div>

</div>


[<h1 class="col-md-10 col-lg-10 col-sm-12 col-xs-12">(#NOM)</h1>]
[ <div class="col-md-10 col-lg-10 col-sm-12 col-xs-12"> (#BIO)</div>]
[<p class="#EDIT{hyperlien} hyperlien"><:voir_en_ligne:> : <a href="(#URL_SITE)" class="url org spip_out">[(#NOM_SITE|sinon{[(#URL_SITE|couper{80})]})]</a></p>]


</header>




</div>
[<h2 class="big-hd col-md-12"><span>Articles by (#NOM)</span></h2>]

</div>



<div class="row">
<div class="col-md-8">

<B_archives>
	[(#ANCRE_PAGINATION|?)]
	
	

<section class="media-list-lg">
<BOUCLE_archives(ARTICLES){id_auteur}{par date}{doublons une}{inverse}{pagination 10}>
			<article class="media news-item">
			
				
				<a  class="pull-left" href="#URL_ARTICLE">
				<div class="placeholder">
				[(#MODELE{story-thumb}{reduire=220,redadrew=199}{redadreh=149}{redadrealign=center}||inserer_attribut{alt, #TITRE|attribut_html})]
				</div>	
				</a> 

				<h3 class="media-heading"><a href="#URL_ARTICLE">#TITRE</a></h3>
				
				[<p class="descriptif">(#INTRODUCTION|couper{160})</p>]
				
				<p class="small-meta">
				
					<BOUCLE_archives_section(RUBRIQUES){id_rubrique=#ID_RUBRIQUE}{0,1}><span class="sectiontag">#TITRE</span></BOUCLE_archives_section> 
					
					[<span class="author"><i><:par_auteur:></i> (#LESAUTEURS)</span> ]
					<span class="meta-separator">|</span>
					[<span class="timesince">(#DATE|date_relative)</span>]
					<span class="meta-separator">|</span>					
					[<span class="pageviews"><strong>(#VISITES)</strong> views </span>]
                
				</p>
			
			<div class="clearfix"></div>
			</article>
</BOUCLE_archives>  
</section">
	
<div class="pagination">#PAGINATION{page_precedent_suivant}</div>
	
</B_archives>  
  
       

</div>
<div class="col-md-4 col-lg-4 hidden-sm hidden-xs">
	
		<INCLURE{fond=inclure/blok-adslot3001}>
		<INCLURE{fond=inclure/blok-popular}>  
		<INCLURE{fond=inclure/blok-adslot3002}>	

</div>
</div>
</div>



<INCLURE{fond=inclure/_global_footer,self=#SELF}>
<INCLURE{fond=inclure/_global_bottom_assets,self=#SELF} />



</body>
</html>
</BOUCLE_principale>
