<BOUCLE_principale(ARTICLES) {id_article}>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml" lang="#LANG">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE; chrome=1" />
<meta http-equiv="content-type" content="text/html;charset=utf-#CHARSET" /> 
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

	<title>[(#TITRE|couper{80}|textebrut) - ][(#NOM_SITE_SPIP|textebrut)]</title>

    [<meta name="description" content="(#INTRODUCTION{150}|attribut_html)" />]
    [<link rel="canonical" href="(#URL_ARTICLE|url_absolue)" />]
    <meta name="author" content="ThePatrioticVanguard">

  
    <INCLURE{fond=inclure/_global_metas} />

<!--[if lte IE 8]>
<script src="/assets/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="/assets/respond/1.4.2/respond.min.js"></script>
<![endif]-->

</head>
<body class="page-static" id="page-static">


<INCLURE{fond=inclure/_global_header,env} />
<INCLURE{fond=inclure/adslot7281} />



<div class="container">
<div class="row">
<div  class="col-md-10 col-md-offset-1 main-content ">

		<section class="article-header">

			<BOUCLE_related_sections(RUBRIQUES){id_rubrique}{0,1}>
			<h3 class="article-section" itemprop="alternativeHeadline"><span class="sectiontag">#TITRE</span></h3>
			</BOUCLE_related_sections>		
			
			[<div class="article-sur-title" itemprop="alternativeHeadline">(#SURTITRE)</div>]	
			
		    <h1 class="article-title" itemprop="headline">#TITRE</h1>
		    
		    [<h2 class="article-sub-title" itemprop="alternativeHeadline">(#SOUSTITRE)</h2>]
		    
		</section>



		<section class="article-body">


	
			[<div class="chapo">(#CHAPO|image_reduire{500,0})</div>]
			
			[(#LOGO_ARTICLE||image_reduire{300}|inserer_attribut{class, 'storyLogo'})]
		
			[<div class="texte">(#TEXTE|image_reduire{500,0})</div>]
			[<div class="ps">(#PS|image_reduire{500,0})</div>]

			[<p class="#EDIT{hyperlien} hyperlien"><:voir_en_ligne:> : <a href="(#URL_SITE)" class="spip_out">[(#NOM_SITE|sinon{[(#URL_SITE|couper{80})]})]</a></p>]
			
			
			[(#INCLURE{fond=inclure/documents,id_article, env})]
			
			
		</section>

         
    	 	

</div>

</div>
</div>




[(#REM) Pied de page ]
<INCLURE{fond=inclure/_global_footer,self=#SELF} />
<INCLURE{fond=inclure/_global_bottom_assets,self=#SELF} />

<script>

/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
var disqus_shortname = 'thepatrioticvanguard'; // required: replace example with your forum shortname

/* * * DON'T EDIT BELOW THIS LINE * * */
(function () {
    var s = document.createElement('script'); s.async = true;
    s.type = 'text/javascript';
    s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
    (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
}());
</script>

</body>
</html>
</BOUCLE_principale>
