
{% include 'partials/module-hero' %}
{% include 'partials/module-editors-picks' %}
{% include 'partials/module-ad-leaderboard-1' %}

<section>
	<div class="container">
		<div class="row" >
			<div class="col-md-8 col-sm-12 ">
			    {% include 'partials/module-latest' %}		
			</div>
			<div class="col-md-4 col-sm-12 col-xs-12">			
				{% include 'partials/blok-opinions' %}
				{% include 'partials/blok-adslot3002' %}
				{% include 'partials/blok-popular' %}
			</div>
		</div>
	</div>
<section>

{% include 'partials/module-newsletter' %}
{% include 'partials/_global_bottom_assets' %}
